.topic-icon {
    width: 35px;
    height: 35px;
    margin: 5px;
}
.topic-name {
    margin: 5px;
    font-size: 1rem;;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.topics-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
}

.page-title {
    width: 50%;
    text-align: center;
}

.topic-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color: rgb(104, 190, 230);
    margin: 10px;
    border: 1px solid black;
   
}