* {
  font-family: "Indie Flower", cursive;
  font-size: 1.5rem;
}

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  background-color: #612606;
  padding: 3px;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.nav-item {
  text-decoration: none;
  color:antiquewhite;
  height: 100%;
  width: 15%;
  display: flex;
  justify-content: center;

}

.nav-item:hover {
  background-color: #AD440A;
  border-radius: 5px;
  transition: 300ms;
  cursor: pointer;
}

.active {
  background-color: #AD440A;
  border-radius: 5px;
}

.show {
  display: flex;
}

.hide {
  display: none;
}

.page-title {
  width: 50%;
  text-align: center;
  font-weight: bold;
  margin: 10px;
}

.button-link {
  text-decoration: none;
  color: black;

}

.button-div {
  display: flex;
  width: 200px;
  height: 50px;
  background-color: #E0570D;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.quiz-tile {
  width: 400px;
  height: 50px;
  border: 1px solid black;
  border-radius: 5px;;
  margin: 10px;
  text-align: center;
}

.quiz-tile:hover {
  background-color: #FF7912;
  transition: 300ms;
  cursor: pointer;
}

.validate-text {
  color: red;
  font-size: 1rem;
 
}

.scroll-button {
  background-color: #E0570D;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 1;
  z-index: 1000;
}
.scroll-button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  line-height: 50px;
  color: #fff;
  padding-left: 7px;
}

.scroll-button:hover {
  background-color: #FF7912;
  cursor: pointer;
}